/*
 * @description:送呗官网页面样式
 * @author: cyt
 * @update: 2015.12.29
*/
@charset "gb2312";
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 625%;/*100px*/
}

a,a:hover {
	text-decoration: none;
	color: #6f6f6f;
}

input {
	-webkit-appearance: none;
	outline: none
}

* {
	outline: none;
	webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body, html {
	width: 100%;
	font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	background: #fff;
	color: #6f6f6f;
}

body {
	font-size: .14rem;
	min-width: 10rem;
}
.wrapper {
	margin-top: .7rem;
}
.content {
	display: inline-block;
	position: relative;
	width: 9.9rem;
	clear: both;
	padding: .56rem .05rem;
	min-height: 4.8rem;
}
.null-tips {
	display: block;
	margin: .5rem auto;
	text-align: center;
	color: #6f6f6f;
}
/* 头部 begin */
.header-wrap {
	width: 100%;
	height: 6.3rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/bg.jpg) center top no-repeat;
	background-size: 100% 100%;
}
.header {
	position: fixed;
	width: 100%;
	height: .69rem;
	line-height: .69rem;
	border-bottom: 1px solid #eee;
	background: #fff;
	z-index: 999;
}
.header-index {
	border-bottom: none;
}
.header-menu {
	position: relative;
	clear: both;
	margin: 0 auto;
	width: 9.9rem;
}
.header-menu .logo {
	display: inline-block;
	float: left;
	margin-top: .1rem;
	width: .5rem;
	height: .5rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/mobile/sber_mobile_logo.png) center center no-repeat;
	background-size: 100% 100%;
}
.header-menu .logo-index {
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/logo.png) center center no-repeat;
	background-size: 100% 100%;
}
.header-menu .header-title {
	float: left;
	margin-left: .1rem;
	font-size: .18rem;
	color: #263238;
}
.header-menu .header-title span {
	display: inline-block;
}
.header-menu .header-title span:last-child {
	font-size: .14rem;
	font-family: 'STXingkai';
}

.nav {
	display: inline-block;
	position: relative;
	float: right;
}
.nav ul li {
	float: left;
	margin-left: .3rem;
}
.nav ul li a {
	font-size: .16rem;
	padding: .05rem;
	color: #263238;
	font-weight: 400;
}
.nav ul li a:hover {
	text-decoration: none;
	color: #2fb98a;
	border-bottom: 1px solid #2fb98a;
}
.nav ul li.active a {
	color: #2fb98a;
	border-bottom: 1px solid #2fb98a;
}
.nav-index ul li a {
	color: #fff;
}
.nav-index ul li a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.nav-index ul li.active a {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.header-dld {
	position: relative;
	clear: both;
	padding-top: .55rem;
	margin: 0 auto;
	margin-top: .7rem;
	width: 8.92rem;
}
.qrcode {
	position: relative;
	float: left;
	margin-top: 1.4rem;
	width: 1.6rem;
	height: 1.6rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/qrcode.png) center center no-repeat;
	background-size: 100% 100%;
}
.content-center {
	margin: 0 .935rem;
	float: left;
}
.content-title {
	margin-top: 1.4rem;
	width: 2.77rem;
	height: .7rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/title.png) center center no-repeat;
	background-size: 100% 100%;
}
.dld-wrap {
	display: inline-block;
	margin-top: .4rem;
	height: .5rem;
	line-height: .5rem;
}
.dld-wrap a {
	display: inline-block;
	width: 1.4rem;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	border-radius: .05rem;
	border: 1px solid #fff;
	font-family: 'arial';
	font-size: .16rem;
	color: #fff;
	text-decoration: none;
}
.dld-wrap a:first-child {
	margin-right: .46rem;
}
.dld-wrap a:hover {
	background: #2fb98a;
	border: 1px solid #2fb98a;
}
.iphone {
	float: left;
	width: 2.1rem;
	height: 4.4rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/iPhone6.png) center center no-repeat;
	background-size: 100% 100%;
}
/* 头部 end */

/* 首页主体内容 begin */
.index-content {
	padding-top: 1.8rem;
}
.index-section {
	display: inline-block;
	width: 9.9rem;
	margin-bottom: 1.8rem;
	text-align: center;
}
.index-section h2 {
	margin-bottom: .2rem;
	font-size: .36rem;
	font-weight: normal;
	color: #464646;
}
.index-section h3 {
	font-size: .24rem;
	font-weight: normal;
	color: #787878;
}
.index-section .img-wall {
	margin-top: .9rem;
}
.img-wall-2 {
	margin: 0 .1rem;
}
.img-wall-2 div:first-child {
	margin-bottom: .05rem;
}
.img-wall-2 div:last-child img:last-child {
	margin-left: .02rem;
}
.img-wall-3 {
	margin-right: .12rem;
}
.img-wall-4 div:first-child {
	margin-bottom: .04rem;
}
/* 首页主体内容 end */

/* 关于 begin */
.about-section {
	text-align: center;
	margin-bottom: .6rem;
}
.about-section h2 {
	margin-bottom: .3rem;
	font-size: .24rem;
	font-weight: normal;
	color: #6f6f6f;
}
.about-section p {
	line-height: .28rem;
	color: #6f6f6f;
}
.yds-team {
	display: inline-block;
	margin-left: 1.45rem;
	width: 7rem;
}
.team-box {
	margin-bottom: .6rem;
	float: left;
	text-align: center;
	width: 33.3333%;
	color: #6f6f6f;
}
.team-box img {
	width: 1.5rem;
	height: 1.5rem;
}
.team-box .team-name {
	margin: .1rem 0 .02rem 0;
	font-size: .18rem;
}
/* 关于 end */

/* 动态 begin */
.dynamic-list {
	padding: 0 .2rem;
}
.dynamic-box {
	display: inline-block;
	position: relative;
	border-bottom: 1px dashed #ccc;
}
.dynamic-title {
	margin-top: .2rem;
	font-weight: normal;
	font-size: .18rem;
}
.dynamic-title a {
	text-decoration: none;
	color: #263238;
}
.dynamic-title a:hover {
	text-decoration: underline;
	color: #2fb98a;
}
.dynamic-time {
	float: right;
	font-size: .14rem;
}
.dynamic-content {
	display: inline-block;
	clear: both;
	padding: .2rem 0;
	width: 9.5rem;
}
.dynamic-content .desc-img {
	float: left;
	margin-right: .2rem;
	width: 1rem;
	height: 1rem;
}
.dynamic-desc {
	height: .67rem;
	overflow: hidden;
}
.dynamic-rm a {
	display: inline-block;
	position: relative;
	float: right;
    padding: .06rem .1rem;
    text-decoration: none;
    background: #2fb98a;
    border-radius: .18rem 0;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.dynamic-rm a:hover {
	border-radius: 0 .18rem;
	background: #5ea51b;
}
/* 动态详情 */
.dynamic-detail {
	padding: .2rem .5rem;
}
.detail-title {
	color: #263238;
	font-weight: normal;
	font-size: .24rem;
	text-align: center;
}
.detail-time {
	margin: .1rem 0 .3rem 0;
	text-align: right;
}
.detail-content {
	color: #6f6f6f;
	line-height: .28rem;
	font-size: .14rem;
}
.dynamic-page {
	margin: .3rem 0;
	text-align: center;
}
.dynamic-page a {
	display: inline-block;
	border: 1px solid #2fb98a;
	padding: .02rem .05rem;
	border-radius: .05rem;
}
.dynamic-page a:hover {
	background: #2fb98a;
	color: #fff;
}
/* 动态 end */

/* 联系我们 begin */
.yds-contact-map {
	width: 9.88rem;
    height: 5rem;
    border: .01rem solid #ccc;
    overflow: hidden;
}
.map-loading {
	margin-top: 2.2rem;
	 text-align: center;
}
.resetMap {
    position: absolute;
    right: .05rem;
    width: .35rem;
    text-align: center;
    height: .35rem;
    line-height: .35rem;
    background-color: #fff;
    border:1px solid #ccc;
    z-index: 1;
    cursor: pointer;
}
.resetMap img {
    margin-top: -5px;
    opacity: .7;
}
.resetMap img:hover {
    opacity: 1;
}
.map-desc {
	position: absolute;
	right: .05rem;
	margin-top: -1.52rem;
	padding: .2rem;
	width: 3.8rem;
	background: #2fb98a;
}
.map-desc p {
	line-height: .28rem;
	color: #fff;
}
.map-desc p.title {
	margin-bottom: .1rem;
	font-size: .2rem;
}
.contact-list {
	margin: 1rem 0;
}
.contact-box {
	margin-bottom: .5rem;
	float: left;
	width: 33.3333%;
	text-align: left;
}
.contact-box p {
	color: #6f6f6f;
}
.contact-box p:first-child {
	margin-bottom: .1rem;
	font-size: .18rem;
}
/* 联系我们 end */

/* 招商加盟 begin */
.inv-banner {
	margin-top: .7rem;
	width: 100%;
}
.inv-title h2 {
	float: left;
	font-size: .28rem;
	font-weight: bold;
	color: #263238;
}
.inv-title span {
	border-radius: .05rem;
	border: 1px solid #fb863b;
	color: #fb863b;
	height: .4rem;
	line-height: .4rem;
	width: 1.2rem;
	text-align: center;
	float: right;
	cursor: pointer;
	font-size: .18rem;
}
.inv-title span i {
	display: inline-block;
	margin-left: .08rem;
	width: .14rem;
	height: .1rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/i_jt_2.png) center center no-repeat;
	background-size: 100% 100%;
}
.inv-step {
	display: inline-block;
	position: relative;
	width: 9.9rem;
	margin: 1rem 0 1.2rem 0;
}
.inv-step .step {
	float: left;
}
.step-box {
	width: 1.5rem;
	text-align: center;
}
.step-box p {
	margin-top: .1rem;
	font-size: .2rem;
	color: #263238;
}
.step-jt {
	margin: 0 .095rem;
	width: .41rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background: url(http://7xlgbd.com2.z0.glb.qiniucdn.com/img/i_jt_1.png) center center no-repeat;
	background-size: 100% .2rem;
}
.inv-instro {
	position: relative;
	display: inline-block;
	margin: .18rem 0 1.8rem .95rem;
	width: 8rem;
}
.instro-box-wrap {
	position: relative;
	display: block;
	float: left;
	width: 2rem;
	text-align: center;
	height: 2rem;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.3s linear; 
	-webkit-transition: all 0.3s linear;
	top: 0;
}
.instro-box-wrap a .instro-box { 
	color: #263238;
	background: #ccc; 
	width: 200px;
	height: 200px;
	position: absolute; 
	left: 0; 
	top: 0;
}
.instro-box-center {
	margin: 0 1rem;
}
.instro-box h2 {
	padding-top: .6rem;
	font-size: .26rem;
	font-weight: normal;
}
.instro-box p {
	margin-top: .18rem;
	font-size: .2rem;
}
.instro-box p a {
	text-decoration: none;
}
.instro-box-green {
	color: #fff;
	background: #2fb98a;
}
.instro-box-green p a {
	color: #fff;
}
.instro-box-wrap a .instro-box-green {
	color: #fff;
	background: #2fb98a;
	left: -2rem; 
	transition: all 0.2s ease; 
	-webkit-transition: all 0.2s ease;
}
.instro-box-wrap a:hover .instro-box-green {
	display: block; 
	left: 0;
}
/* 招商加盟 end */

/* 招商标准 begin */
.rule-dialog-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,.5);
	display: none;
}
.rule-diaog-inner {
	position: relative;
	padding: .08rem;
	top: 1.4rem;
	left: 50%;
	margin-left: -4.5rem;
	width: 9rem;
	background: #efefef;
	border-radius: .08rem;
}
.rule-dialog-close {
	position: absolute;
	top: -.15rem;
	right: -.15rem;
	width: .3rem;
	text-align: center;
	height: .3rem;
	line-height: .3rem;
	border-radius: .3rem;
	font-size: .28rem;
	border: .01rem solid rgba(30,30,30,.5);
	color: rgba(30,30,30,.5);
	-webkit-transform: rotate(45deg);
	background: #efefef;
	cursor: pointer;
}
.rule-detail {
	padding: .1rem;
	height: 5rem;
	overflow-y: auto;
}
.rule-detail h1 {
	margin-bottom: .2rem;
	font-size: .28rem;
	font-weight: bold;
	color: #263238;
}
.rule-content {
	padding: .2rem;
}
.rule-content h2 {
	margin-bottom: .22rem;
	font-size: .26rem;
	font-weight: bold;
	color: #2fb98a;
}
.rule-content section {
	margin-bottom: .3rem;
}
.rule-content section p {
	color: #263238;
	line-height: .28rem;
}
.rule-content h3 {
	font-size: .2rem;
	font-weight: bold;
	color: #1c87ff;
}
/* 招商标准 end */

/* 加入我们 begin */
.join-header {
	padding: .8rem 0;
	text-align: center;
	border-bottom: 1px solid #2fb98a;
}
.join-header p {
	font-size: .14rem;
	line-height: .28rem;
}
.join-header p.title {
	margin: .3rem 0 .1rem 0;
	font-size: .24rem;
}
.join-header em.hr {
	margin-left: .1rem;
	font-size: .18rem;
	font-family: 'arial';
	color: #2fb98a;
}
.join-header p:last-child {
	margin-top: .2rem;
}
.join-header p:last-child a {
	color: #2fb98a;
}
.recruit-list {
	padding: .8rem 0;
}
.recruit-list ul li {
	display: inline-block;
	margin-bottom: .1rem;
	width: 9.5rem;
	padding: .1rem .2rem;
	background: rgba(0,0,0,.03);
	color: #263238;
}
.recruit-list ul li:hover {
	background: #2fb98a;
	color: #fff;
	cursor: pointer;
}
.recruit-title {
	display: inline-block;
	margin-right: .5rem;
	width: 40%;
	font-size: .16rem;
}
.recruit-time {
	float: right;
}
.recruit-detail p {
	line-height: .28rem;
}
.recruit-detail p.title {
	margin: .1rem 0;
}
/* 加入我们 end */

/* 帮助中心 begin */
.help-tips {
	margin-bottom: .3rem;
}
.help-tips p {
	line-height: .28rem;
	color: #263238;
}
/* 帮助中心 end */

/* 版权 begin */
.footer {
	width: 100%;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	color: #666;
}
.footer a {
	color: #666;
}
.footer a:hover {
	color: #2fb98a;
}
/* 版权 end */